div {
	text-align: center;
    cursor: pointer;
    font-size: 50px;
    margin-bottom: 10px;
}

#div1 {
    background: rgb(255,0,0);
  }

 #div2 {
    background: rgb(0,255,0);;
 }

 #div3 {
    background: rgb(0,0,255);;
 }